<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>395745961197-u1vpfcgiair4c2v50bc7logtrc3j8vae.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.395745961197-u1vpfcgiair4c2v50bc7logtrc3j8vae</string>
	<key>API_KEY</key>
	<string>AIzaSyBG5tIl_Nx9ixwp1otqhsN_ZWRUkK-FtV4</string>
	<key>GCM_SENDER_ID</key>
	<string>395745961197</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.reactnativeexampleios</string>
	<key>PROJECT_ID</key>
	<string>react-native-ct</string>
	<key>STORAGE_BUCKET</key>
	<string>react-native-ct.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:395745961197:ios:0592bb9125b78f2cedd8e4</string>
</dict>
</plist>